# Getting started with pandas

In [1]:
from pandas import Series, DataFrame
import pandas as pd

In [2]:
from __future__ import division
from numpy.random import randn
import numpy as np
import os
import matplotlib.pyplot as plt
np.random.seed(12345)
plt.rc('figure', figsize=(10, 6))
from pandas import Series, DataFrame
import pandas as pd
np.set_printoptions(precision=4)

In [ ]:
%pwd

In [ ]:
%cd ../book_scripts

## Introduction to pandas data structures

### Series

In [ ]:
obj = Series([4, 7, -5, 3])
obj

In [ ]:
obj.values
obj.index

In [ ]:
obj2 = Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

In [ ]:
obj2.index

In [ ]:
obj2['a']

In [ ]:
obj2['d'] = 6
obj2[['c', 'a', 'd']]

In [ ]:
obj2[obj2 > 0]

In [ ]:
obj2 * 2

In [ ]:
np.exp(obj2)

In [ ]:
'b' in obj2

In [ ]:
'e' in obj2

In [ ]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = Series(sdata)
obj3

In [ ]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = Series(sdata, index=states)
obj4

In [ ]:
pd.isnull(obj4)

In [ ]:
pd.notnull(obj4)

In [ ]:
obj4.isnull()

In [ ]:
obj3

In [ ]:
obj4

In [ ]:
obj3 + obj4

In [ ]:
obj4.name = 'population'
obj4.index.name = 'state'
obj4

In [ ]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
obj

### DataFrame

In [4]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = DataFrame(data)

In [5]:
frame

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

[5 rows x 3 columns]

In [ ]:
DataFrame(data, columns=['year', 'state', 'pop'])

In [ ]:
frame2 = DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                   index=['one', 'two', 'three', 'four', 'five'])
frame2

In [ ]:
frame2.columns

In [ ]:
frame2['state']

In [ ]:
frame2.year

In [ ]:
frame2.ix['three']

In [ ]:
frame2['debt'] = 16.5
frame2

In [ ]:
frame2['debt'] = np.arange(5.)
frame2

In [ ]:
val = Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
frame2['debt'] = val
frame2

In [ ]:
frame2['eastern'] = frame2.state == 'Ohio'
frame2

In [ ]:
del frame2['eastern']
frame2.columns

In [ ]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9},
       'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}

In [ ]:
frame3 = DataFrame(pop)
frame3

In [ ]:
frame3.T

In [ ]:
DataFrame(pop, index=[2001, 2002, 2003])

In [ ]:
pdata = {'Ohio': frame3['Ohio'][:-1],
         'Nevada': frame3['Nevada'][:2]}
DataFrame(pdata)

In [ ]:
frame3.index.name = 'year'; frame3.columns.name = 'state'
frame3

In [ ]:
frame3.values

In [ ]:
frame2.values

### Index objects

In [ ]:
obj = Series(range(3), index=['a', 'b', 'c'])
index = obj.index
index

In [ ]:
index[1:]

In [ ]:
index[1] = 'd'

In [ ]:
index = pd.Index(np.arange(3))
obj2 = Series([1.5, -2.5, 0], index=index)
obj2.index is index

In [ ]:
frame3

In [ ]:
'Ohio' in frame3.columns

In [ ]:
2003 in frame3.index

## Essential functionality

### Reindexing

In [ ]:
obj = Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
obj

In [ ]:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
obj2

In [ ]:
obj.reindex(['a', 'b', 'c', 'd', 'e'], fill_value=0)

In [ ]:
obj3 = Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj3.reindex(range(6), method='ffill')

In [ ]:
frame = DataFrame(np.arange(9).reshape((3, 3)), index=['a', 'c', 'd'],
                  columns=['Ohio', 'Texas', 'California'])
frame

In [ ]:
frame2 = frame.reindex(['a', 'b', 'c', 'd'])
frame2

In [ ]:
states = ['Texas', 'Utah', 'California']
frame.reindex(columns=states)

In [ ]:
frame.reindex(index=['a', 'b', 'c', 'd'], method='ffill',
              columns=states)

In [ ]:
frame.ix[['a', 'b', 'c', 'd'], states]

### Dropping entries from an axis

In [ ]:
obj = Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
new_obj = obj.drop('c')
new_obj

In [ ]:
obj.drop(['d', 'c'])

In [ ]:
data = DataFrame(np.arange(16).reshape((4, 4)),
                 index=['Ohio', 'Colorado', 'Utah', 'New York'],
                 columns=['one', 'two', 'three', 'four'])

In [ ]:
data.drop(['Colorado', 'Ohio'])

In [ ]:
data.drop('two', axis=1)

In [ ]:
data.drop(['two', 'four'], axis=1)

### Indexing, selection, and filtering

In [ ]:
obj = Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
obj['b']

In [ ]:
obj[1]

In [ ]:
obj[2:4]

In [ ]:
obj[['b', 'a', 'd']]

In [ ]:
obj[[1, 3]]

In [ ]:
obj[obj < 2]

In [ ]:
obj['b':'c']

In [ ]:
obj['b':'c'] = 5
obj

In [ ]:
data = DataFrame(np.arange(16).reshape((4, 4)),
                 index=['Ohio', 'Colorado', 'Utah', 'New York'],
                 columns=['one', 'two', 'three', 'four'])
data

In [ ]:
data['two']

In [ ]:
data[['three', 'one']]

In [ ]:
data[:2]

In [ ]:
data[data['three'] > 5]

In [ ]:
data < 5

In [ ]:
data[data < 5] = 0

In [ ]:
data

In [ ]:
data.ix['Colorado', ['two', 'three']]

In [ ]:
data.ix[['Colorado', 'Utah'], [3, 0, 1]]

In [ ]:
data.ix[2]

In [ ]:
data.ix[:'Utah', 'two']

In [ ]:
data.ix[data.three > 5, :3]

### Arithmetic and data alignment

In [ ]:
s1 = Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = Series([-2.1, 3.6, -1.5, 4, 3.1], index=['a', 'c', 'e', 'f', 'g'])

In [ ]:
s1

In [ ]:
s2

In [ ]:
s1 + s2

In [ ]:
df1 = DataFrame(np.arange(9.).reshape((3, 3)), columns=list('bcd'),
                index=['Ohio', 'Texas', 'Colorado'])
df2 = DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'),
                index=['Utah', 'Ohio', 'Texas', 'Oregon'])
df1

In [ ]:
df2

In [ ]:
df1 + df2

#### Arithmetic methods with fill values

In [ ]:
df1 = DataFrame(np.arange(12.).reshape((3, 4)), columns=list('abcd'))
df2 = DataFrame(np.arange(20.).reshape((4, 5)), columns=list('abcde'))
df1

In [ ]:
df2

In [ ]:
df1 + df2

In [ ]:
df1.add(df2, fill_value=0)

In [ ]:
df1.reindex(columns=df2.columns, fill_value=0)

#### Operations between DataFrame and Series

In [ ]:
arr = np.arange(12.).reshape((3, 4))
arr

In [ ]:
arr[0]

In [ ]:
arr - arr[0]

In [ ]:
frame = DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'),
                  index=['Utah', 'Ohio', 'Texas', 'Oregon'])
series = frame.ix[0]
frame

In [ ]:
series

In [ ]:
frame - series

In [ ]:
series2 = Series(range(3), index=['b', 'e', 'f'])
frame + series2

In [ ]:
series3 = frame['d']
frame

In [ ]:
series3

In [ ]:
frame.sub(series3, axis=0)

### Function application and mapping

In [ ]:
frame = DataFrame(np.random.randn(4, 3), columns=list('bde'),
                  index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [ ]:
frame

In [ ]:
np.abs(frame)

In [ ]:
f = lambda x: x.max() - x.min()

In [ ]:
frame.apply(f)

In [ ]:
frame.apply(f, axis=1)

In [ ]:
def f(x):
    return Series([x.min(), x.max()], index=['min', 'max'])
frame.apply(f)

In [ ]:
format = lambda x: '%.2f' % x
frame.applymap(format)

In [ ]:
frame['e'].map(format)

### Sorting and ranking

In [ ]:
obj = Series(range(4), index=['d', 'a', 'b', 'c'])
obj.sort_index()

In [ ]:
frame = DataFrame(np.arange(8).reshape((2, 4)), index=['three', 'one'],
                  columns=['d', 'a', 'b', 'c'])
frame.sort_index()

In [ ]:
frame.sort_index(axis=1)

In [ ]:
frame.sort_index(axis=1, ascending=False)

In [ ]:
obj = Series([4, 7, -3, 2])
obj.order()

In [ ]:
obj = Series([4, np.nan, 7, np.nan, -3, 2])
obj.order()

In [ ]:
frame = DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
frame

In [ ]:
frame.sort_index(by='b')

In [ ]:
frame.sort_index(by=['a', 'b'])

In [ ]:
obj = Series([7, -5, 7, 4, 2, 0, 4])
obj.rank()

In [ ]:
obj.rank(method='first')

In [ ]:
obj.rank(ascending=False, method='max')

In [ ]:
frame = DataFrame({'b': [4.3, 7, -3, 2], 'a': [0, 1, 0, 1],
                   'c': [-2, 5, 8, -2.5]})
frame

In [ ]:
frame.rank(axis=1)

### Axis indexes with duplicate values

In [ ]:
obj = Series(range(5), index=['a', 'a', 'b', 'b', 'c'])
obj

In [ ]:
obj.index.is_unique

In [ ]:
obj['a']

In [ ]:
obj['c']

In [ ]:
df = DataFrame(np.random.randn(4, 3), index=['a', 'a', 'b', 'b'])
df

In [ ]:
df.ix['b']

## Summarizing and computing descriptive statistics

In [ ]:
df = DataFrame([[1.4, np.nan], [7.1, -4.5],
                [np.nan, np.nan], [0.75, -1.3]],
               index=['a', 'b', 'c', 'd'],
               columns=['one', 'two'])
df

In [ ]:
df.sum()

In [ ]:
df.sum(axis=1)

In [ ]:
df.mean(axis=1, skipna=False)

In [ ]:
df.idxmax()

In [ ]:
df.cumsum()

In [ ]:
df.describe()

In [ ]:
obj = Series(['a', 'a', 'b', 'c'] * 4)
obj.describe()

### Correlation and covariance

In [ ]:
import pandas.io.data as web

all_data = {}
for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']:
    all_data[ticker] = web.get_data_yahoo(ticker)

price = DataFrame({tic: data['Adj Close']
                   for tic, data in all_data.iteritems()})
volume = DataFrame({tic: data['Volume']
                    for tic, data in all_data.iteritems()})

In [ ]:
returns = price.pct_change()
returns.tail()

In [ ]:
returns.MSFT.corr(returns.IBM)

In [ ]:
returns.MSFT.cov(returns.IBM)

In [ ]:
returns.corr()

In [ ]:
returns.cov()

In [ ]:
returns.corrwith(returns.IBM)

In [ ]:
returns.corrwith(volume)

### Unique values, value counts, and membership

In [ ]:
obj = Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])

In [ ]:
uniques = obj.unique()
uniques

In [ ]:
obj.value_counts()

In [ ]:
pd.value_counts(obj.values, sort=False)

In [ ]:
mask = obj.isin(['b', 'c'])
mask

In [ ]:
obj[mask]

In [ ]:
data = DataFrame({'Qu1': [1, 3, 4, 3, 4],
                  'Qu2': [2, 3, 1, 2, 3],
                  'Qu3': [1, 5, 2, 4, 4]})
data

In [ ]:
result = data.apply(pd.value_counts).fillna(0)
result

## Handling missing data

In [ ]:
string_data = Series(['aardvark', 'artichoke', np.nan, 'avocado'])
string_data

In [ ]:
string_data.isnull()

In [ ]:
string_data[0] = None
string_data.isnull()

### Filtering out missing data

In [ ]:
from numpy import nan as NA
data = Series([1, NA, 3.5, NA, 7])
data.dropna()

In [ ]:
data[data.notnull()]

In [ ]:
data = DataFrame([[1., 6.5, 3.], [1., NA, NA],
                  [NA, NA, NA], [NA, 6.5, 3.]])
cleaned = data.dropna()
data

In [ ]:
cleaned

In [ ]:
data.dropna(how='all')

In [ ]:
data[4] = NA
data

In [ ]:
data.dropna(axis=1, how='all')

In [ ]:
df = DataFrame(np.random.randn(7, 3))
df.ix[:4, 1] = NA; df.ix[:2, 2] = NA
df

In [ ]:
df.dropna(thresh=3)

### Filling in missing data

In [ ]:
df.fillna(0)

In [ ]:
df.fillna({1: 0.5, 3: -1})

In [ ]:
# always returns a reference to the filled object
_ = df.fillna(0, inplace=True)
df

In [ ]:
df = DataFrame(np.random.randn(6, 3))
df.ix[2:, 1] = NA; df.ix[4:, 2] = NA
df

In [ ]:
df.fillna(method='ffill')

In [ ]:
df.fillna(method='ffill', limit=2)

In [ ]:
data = Series([1., NA, 3.5, NA, 7])
data.fillna(data.mean())

## Hierarchical indexing

In [3]:
data = Series(np.random.randn(10),
              index=[['a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'd', 'd'],
                     [1, 2, 3, 1, 2, 3, 1, 2, 2, 3]])
data

a  1   -0.204708
   2    0.478943
   3   -0.519439
b  1   -0.555730
   2    1.965781
   3    1.393406
c  1    0.092908
   2    0.281746
d  2    0.769023
   3    1.246435
dtype: float64

In [4]:
data.index

MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 1, 2, 0, 1, 1, 2]])

In [5]:
data['b']

1   -0.555730
2    1.965781
3    1.393406
dtype: float64

In [6]:
data['b':'c']

b  1   -0.555730
   2    1.965781
   3    1.393406
c  1    0.092908
   2    0.281746
dtype: float64

In [7]:
data.ix[['b', 'd']]

b  1   -0.555730
   2    1.965781
   3    1.393406
d  2    0.769023
   3    1.246435
dtype: float64

In [8]:
data[:, 2]

a    0.478943
b    1.965781
c    0.281746
d    0.769023
dtype: float64

In [9]:
data.unstack()

          1         2         3
a -0.204708  0.478943 -0.519439
b -0.555730  1.965781  1.393406
c  0.092908  0.281746       NaN
d       NaN  0.769023  1.246435

In [10]:
data.unstack().stack()

a  1   -0.204708
   2    0.478943
   3   -0.519439
b  1   -0.555730
   2    1.965781
   3    1.393406
c  1    0.092908
   2    0.281746
d  2    0.769023
   3    1.246435
dtype: float64

In [11]:
frame = DataFrame(np.arange(12).reshape((4, 3)),
                  index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                  columns=[['Ohio', 'Ohio', 'Colorado'],
                           ['Green', 'Red', 'Green']])
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [14]:
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [15]:
frame['Ohio']

color      Green  Red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10

In [19]:
idx = pd.MultiIndex.from_arrays([['Ohio', 'Ohio', 'Colorado'], ['Green', 'Red', 'Green']],
                       names=['state', 'color'])
idx

MultiIndex(levels=[['Colorado', 'Ohio'], ['Green', 'Red']],
           labels=[[1, 1, 0], [0, 1, 0]],
           names=['state', 'color'])

### Reordering and sorting levels

In [20]:
frame.swaplevel('key1', 'key2')

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
2    a        3   4        5
1    b        6   7        8
2    b        9  10       11

In [24]:
frame.sortlevel(1)

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
b    1        6   7        8
a    2        3   4        5
b    2        9  10       11

In [22]:
frame.swaplevel(0, 1).sortlevel(0)

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
     b        6   7        8
2    a        3   4        5
     b        9  10       11

### Summary statistics by level

In [25]:
frame.sum(level='key2')

state  Ohio     Colorado
color Green Red    Green
key2
1         6   8       10
2        12  14       16

In [26]:
frame.sum(level='color', axis=1)

color      Green  Red
key1 key2
a    1         2    1
     2         8    4
b    1        14    7
     2        20   10

### Using a DataFrame's columns

In [27]:
frame = DataFrame({'a': range(7), 'b': range(7, 0, -1),
                   'c': ['one', 'one', 'one', 'two', 'two', 'two', 'two'],
                   'd': [0, 1, 2, 0, 1, 2, 3]})
frame

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

In [28]:
frame2 = frame.set_index(['c', 'd'])
frame2

       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1

In [29]:
frame.set_index(['c', 'd'], drop=False)

       a  b    c  d
c   d
one 0  0  7  one  0
    1  1  6  one  1
    2  2  5  one  2
two 0  3  4  two  0
    1  4  3  two  1
    2  5  2  two  2
    3  6  1  two  3

In [30]:
frame2.reset_index()

     c  d  a  b
0  one  0  0  7
1  one  1  1  6
2  one  2  2  5
3  two  0  3  4
4  two  1  4  3
5  two  2  5  2
6  two  3  6  1

## Other pandas topics

### Integer indexing

In [31]:
ser = Series(np.arange(3.))
ser.iloc[-1]

2.0

In [32]:
ser

0    0
1    1
2    2
dtype: float64

In [33]:
ser2 = Series(np.arange(3.), index=['a', 'b', 'c'])
ser2[-1]

2.0

In [34]:
ser.ix[:1]

0    0
1    1
dtype: float64

In [38]:
ser3 = Series(range(3), index=[-5, 1, 3])
ser3

-5    0
 1    1
 3    2
dtype: int32

In [39]:
ser3.iloc[2]

2

In [40]:
ser3.iget_value(2)

2

In [42]:
frame = DataFrame(np.arange(6).reshape((3, 2)), index=[2, 0, 1])
frame

   0  1
2  0  1
0  2  3
1  4  5

In [49]:
frame.iloc[1,:]

0    2
1    3
Name: 0, dtype: int32

In [56]:
frame.irow(1)

0    2
1    3
Name: 0, dtype: int32

### Panel data

In [57]:
import pandas.io.data as web

pdata = pd.Panel(dict((stk, web.get_data_yahoo(stk))
                       for stk in ['AAPL', 'GOOG', 'MSFT', 'DELL']))

In [58]:
pdata

<class 'pandas.core.panel.Panel'>
Dimensions: 4 (items) x 1413 (major_axis) x 6 (minor_axis)
Items axis: AAPL to MSFT
Major_axis axis: 2010-01-04 00:00:00 to 2015-07-16 00:00:00
Minor_axis axis: Open to Adj Close

In [59]:
pdata = pdata.swapaxes('items', 'minor')
pdata['Adj Close']

                  AAPL      DELL        GOOG       MSFT
Date
2010-01-04   28.718094  14.06528         NaN  26.769336
2010-01-05   28.767737  14.38450         NaN  26.777984
2010-01-06   28.310151  14.10397         NaN  26.613650
2010-01-07   28.257821  14.23940         NaN  26.336875
2010-01-08   28.445687  14.36516         NaN  26.518508
2010-01-11   28.194745  14.37483         NaN  26.181189
2010-01-12   27.874037  14.56830         NaN  26.008204
2010-01-13   28.267213  14.57797         NaN  26.250383
2010-01-14   28.103497  14.22005         NaN  26.777984
2010-01-15   27.633830  13.92985         NaN  26.691493
2010-01-19   28.856306  14.32646         NaN  26.899074
2010-01-20   28.412135  14.03626         NaN  26.457964
2010-01-21   27.921004  13.92017         NaN  25.956309
2010-01-22   26.536154  13.18982         NaN  25.048140
2010-01-25   27.250048  13.43650         NaN  25.359512
2010-01-26   27.635174  13.13662         NaN  25.515199
2010-01-27   27.895500  13.08825         NaN  25.662235
2010-01-28   26.742807  12.84641         NaN  25.221125
2010-01-29   25.772608  12.47882         NaN  24.373502
2010-02-01   26.130897  12.78837         NaN  24.572434
2010-02-02   26.282534  12.86576         NaN  24.615679
2010-02-03   26.734757  12.92380         NaN  24.762716
2010-02-04   25.771266  12.58523         NaN  24.079428
2010-02-05   26.228860  12.80772         NaN  24.235114
2010-02-08   26.049045  12.95282         NaN  23.975637
2010-02-09   26.326814  13.10760         NaN  24.226465
2010-02-10   26.183238  13.30107         NaN  24.209166
2010-02-11   26.659611  13.49454         NaN  24.321607
2010-02-12   26.889071  13.38813         NaN  24.157271
2010-02-16   27.294328  13.67834         NaN  24.635203
...                ...       ...         ...        ...
2015-06-04  129.360001       NaN  536.700012  46.360001
2015-06-05  128.649994       NaN  533.330017  46.139999
2015-06-08  127.800003       NaN  526.830017  45.730000
2015-06-09  127.419998       NaN  526.690002  45.650002
2015-06-10  128.880005       NaN  536.690002  46.610001
2015-06-11  128.589996       NaN  534.609985  46.439999
2015-06-12  127.169998       NaN  532.330017  45.970001
2015-06-15  126.919998       NaN  527.200012  45.480000
2015-06-16  127.599998       NaN  528.150024  45.830002
2015-06-17  127.300003       NaN  529.260010  45.970001
2015-06-18  127.879997       NaN  536.729980  46.720001
2015-06-19  126.599998       NaN  536.690002  46.099998
2015-06-22  127.610001       NaN  538.190002  46.230000
2015-06-23  127.029999       NaN  540.479980  45.910000
2015-06-24  128.110001       NaN  537.840027  45.639999
2015-06-25  127.500000       NaN  535.229980  45.650002
2015-06-26  126.750000       NaN  531.690002  45.259998
2015-06-29  124.529999       NaN  521.520020  44.369999
2015-06-30  125.430000       NaN  520.510010  44.150002
2015-07-01  126.599998       NaN  521.840027  44.450001
2015-07-02  126.440002       NaN  523.400024  44.400002
2015-07-06  126.000000       NaN  522.859985  44.389999
2015-07-07  125.690002       NaN  525.020020  44.299999
2015-07-08  122.570000       NaN  516.830017  44.240002
2015-07-09  120.070000       NaN  520.679993  44.520000
2015-07-10  123.279999       NaN  530.130005  44.610001
2015-07-13  125.660004       NaN  546.549988  45.540001
2015-07-14  125.610001       NaN  561.099976  45.619999
2015-07-15  126.820000       NaN  560.219971  45.759998
2015-07-16  128.509995       NaN  579.849976  46.660000

[1413 rows x 4 columns]

In [60]:
pdata.ix[:, '6/1/2012', :]

            Open        High         Low       Close     Volume  Adj Close
AAPL  569.159996  572.649956  560.520012  560.990036  130246900  75.279486
DELL   12.150000   12.300000   12.045000   12.070000   19397600  11.675920
GOOG         NaN         NaN         NaN         NaN        NaN        NaN
MSFT   28.760000   28.959999   28.440001   28.450001   56634300  26.126961

In [61]:
pdata.ix['Adj Close', '5/22/2012':, :]

                  AAPL      DELL        GOOG       MSFT
Date
2012-05-22   74.740031  14.58765         NaN  27.329995
2012-05-23   76.563680  12.08221         NaN  26.733070
2012-05-24   75.860527  12.04351         NaN  26.696335
2012-05-25   75.453926  12.05319         NaN  26.687151
2012-05-28         NaN  12.05319         NaN        NaN
2012-05-29   76.793152  12.24666         NaN  27.146325
2012-05-30   77.719062  12.14992         NaN  26.944289
2012-05-31   77.525831  11.92743         NaN  26.806537
2012-06-01   75.279486  11.67592         NaN  26.126961
2012-06-04   75.722313  11.60821         NaN  26.218794
2012-06-05   75.526394  11.76298         NaN  26.182061
2012-06-06   76.684450  11.81619         NaN  26.953473
2012-06-07   76.719351  11.73396         NaN  26.843270
2012-06-08   77.873386  11.72429         NaN  27.228976
2012-06-11   76.645536  11.47278         NaN  26.540216
2012-06-12   77.315149  11.57919         NaN  26.898372
2012-06-13   76.778382  11.87423         NaN  26.751435
2012-06-14   76.693845  11.93711         NaN  26.944289
2012-06-15   77.042741  11.89841         NaN  27.568765
2012-06-18   78.606065  12.01449         NaN  27.403462
2012-06-19   78.824788  11.78233         NaN  28.193241
2012-06-20   78.600690  11.89841         NaN  28.404460
2012-06-21   77.517783  11.60821         NaN  27.678965
2012-06-22   78.112240  11.80168         NaN  28.193241
2012-06-25   76.591858  11.55500         NaN  27.431013
2012-06-26   76.760939  11.53565         NaN  27.568765
2012-06-27   77.092391  11.92743         NaN  27.706517
2012-06-28   76.361060  11.55984         NaN  27.467746
2012-06-29   78.367204  12.10155         NaN  28.092222
2012-07-02   79.510504  11.98064         NaN  28.064671
...                ...       ...         ...        ...
2015-06-04  129.360001       NaN  536.700012  46.360001
2015-06-05  128.649994       NaN  533.330017  46.139999
2015-06-08  127.800003       NaN  526.830017  45.730000
2015-06-09  127.419998       NaN  526.690002  45.650002
2015-06-10  128.880005       NaN  536.690002  46.610001
2015-06-11  128.589996       NaN  534.609985  46.439999
2015-06-12  127.169998       NaN  532.330017  45.970001
2015-06-15  126.919998       NaN  527.200012  45.480000
2015-06-16  127.599998       NaN  528.150024  45.830002
2015-06-17  127.300003       NaN  529.260010  45.970001
2015-06-18  127.879997       NaN  536.729980  46.720001
2015-06-19  126.599998       NaN  536.690002  46.099998
2015-06-22  127.610001       NaN  538.190002  46.230000
2015-06-23  127.029999       NaN  540.479980  45.910000
2015-06-24  128.110001       NaN  537.840027  45.639999
2015-06-25  127.500000       NaN  535.229980  45.650002
2015-06-26  126.750000       NaN  531.690002  45.259998
2015-06-29  124.529999       NaN  521.520020  44.369999
2015-06-30  125.430000       NaN  520.510010  44.150002
2015-07-01  126.599998       NaN  521.840027  44.450001
2015-07-02  126.440002       NaN  523.400024  44.400002
2015-07-06  126.000000       NaN  522.859985  44.389999
2015-07-07  125.690002       NaN  525.020020  44.299999
2015-07-08  122.570000       NaN  516.830017  44.240002
2015-07-09  120.070000       NaN  520.679993  44.520000
2015-07-10  123.279999       NaN  530.130005  44.610001
2015-07-13  125.660004       NaN  546.549988  45.540001
2015-07-14  125.610001       NaN  561.099976  45.619999
2015-07-15  126.820000       NaN  560.219971  45.759998
2015-07-16  128.509995       NaN  579.849976  46.660000

[806 rows x 4 columns]

In [62]:
stacked = pdata.ix[:, '5/30/2012':, :].to_frame()
stacked

                        Open        High         Low       Close     Volume  \
Date       minor
2012-05-30 AAPL   569.200050  579.989990  566.559990  579.169998  132357400
           DELL    12.590000   12.700000   12.460000   12.560000   19787800
           MSFT    29.350000   29.480000   29.120001   29.340000   41585500
2012-05-31 AAPL   580.740021  581.499985  571.459969  577.730019  122918600
           DELL    12.530000   12.540000   12.330000   12.330000   19955600
           MSFT    29.299999   29.420000   28.940001   29.190001   39134000
2012-06-01 AAPL   569.159996  572.649956  560.520012  560.990036  130246900
           DELL    12.150000   12.300000   12.045000   12.070000   19397600
           MSFT    28.760000   28.959999   28.440001   28.450001   56634300
2012-06-04 AAPL   561.500008  567.499985  548.499977  564.290031  139248900
           DELL    12.110000   12.112500   11.800000   12.000000   17015700
           MSFT    28.620001   28.780001   28.320000   28.549999   47926300
2012-06-05 AAPL   561.269989  566.470055  558.330002  562.830025   97053600
           DELL    11.950000   12.240000   11.950000   12.160000   15620900
           MSFT    28.510000   28.750000   28.389999   28.510000   45715400
2012-06-06 AAPL   567.770004  573.849983  565.499992  571.459969  100363900
           DELL    12.210000   12.280000   12.090000   12.215000   20779900
           MSFT    28.879999   29.370001   28.809999   29.350000   46860500
2012-06-07 AAPL   577.290009  577.320023  570.500000  571.720055   94941700
           DELL    12.320000   12.410000   12.120000   12.130000   20074000
           MSFT    29.639999   29.700001   29.170000   29.230000   37792800
2012-06-08 AAPL   571.599998  580.580017  568.999992  580.320038   86879100
           DELL    12.130000   12.225000   12.020000   12.120000   18155600
           MSFT    29.209999   29.680000   29.049999   29.650000   42551100
2012-06-11 AAPL   587.719994  588.499985  570.629990  571.169975  147816200
           DELL    12.150000   12.200000   11.820000   11.860000   16931900
           MSFT    29.730000   29.809999   28.820000   28.900000   46361900
2012-06-12 AAPL   574.459984  576.620033  566.699966  576.159996  108845100
           DELL    11.910000   12.010000   11.680000   11.970000   17608100
           MSFT    29.100000   29.299999   28.840000   29.290001   35337900
...                      ...         ...         ...         ...        ...
2015-07-02 AAPL   126.430000  126.690002  125.769997  126.440002   27122500
           GOOG   521.080017  524.650024  521.080017  523.400024    1234000
           MSFT    44.480000   44.750000   44.060001   44.400002   21713000
2015-07-06 AAPL   124.940002  126.230003  124.849998  126.000000   27900200
           GOOG   519.500000  525.250000  519.000000  522.859985    1276500
           MSFT    43.959999   44.480000   43.950001   44.389999   22969700
2015-07-07 AAPL   125.889999  126.150002  123.769997  125.690002   46716100
           GOOG   523.130005  526.179993  515.179993  525.020020    1595700
           MSFT    44.340000   44.490002   43.320000   44.299999   36418200
2015-07-08 AAPL   124.480003  124.639999  122.540001  122.570000   60490200
           GOOG   521.049988  522.734009  516.109985  516.830017    1264600
           MSFT    44.439999   44.900002   44.029999   44.240002   39686300
2015-07-09 AAPL   123.849998  124.059998  119.220001  120.070000   77821600
           GOOG   523.119995  523.770020  520.349976  520.679993    1839400
           MSFT    44.750000   45.220001   44.500000   44.520000   32099800
2015-07-10 AAPL   121.940002  123.849998  121.209999  123.279999   61194200
           GOOG   526.289978  532.559998  525.549988  530.130005    1859900
           MSFT    45.009998   45.139999   44.570000   44.610001   25365300
2015-07-13 AAPL   125.029999  125.760002  124.320000  125.660004   37237800
           GOOG   532.880005  547.109985  532.400024  546.549988    2199800
           MSFT    44.980000   45.619999   44.950001   45.540001   24994700
2015-07-14 AAPL   126.040001  126.370003  125.040001  125.610001   31535500
           GOOG   546.760010  565.848999  546.710022  561.099976    3225100
           MSFT    45.450001   45.959999   45.310001   45.619999   22723700
2015-07-15 AAPL   125.720001  127.150002  125.580002  126.820000   33463100
           GOOG   560.130005  566.502991  556.789978  560.219971    1776600
           MSFT    45.680000   45.889999   45.430000   45.759998   26482000
2015-07-16 AAPL   127.739998  128.570007  127.349998  128.509995   35866800
           GOOG   565.119995  580.679993  565.000000  579.849976    4053900
           MSFT    46.009998   46.689999   45.970001   46.660000   25894400

                   Adj Close
Date       minor
2012-05-30 AAPL    77.719062
           DELL    12.149920
           MSFT    26.944289
2012-05-31 AAPL    77.525831
           DELL    11.927430
           MSFT    26.806537
2012-06-01 AAPL    75.279486
           DELL    11.675920
           MSFT    26.126961
2012-06-04 AAPL    75.722313
           DELL    11.608210
           MSFT    26.218794
2012-06-05 AAPL    75.526394
           DELL    11.762980
           MSFT    26.182061
2012-06-06 AAPL    76.684450
           DELL    11.816190
           MSFT    26.953473
2012-06-07 AAPL    76.719351
           DELL    11.733960
           MSFT    26.843270
2012-06-08 AAPL    77.873386
           DELL    11.724290
           MSFT    27.228976
2012-06-11 AAPL    76.645536
           DELL    11.472780
           MSFT    26.540216
2012-06-12 AAPL    77.315149
           DELL    11.579190
           MSFT    26.898372
...                      ...
2015-07-02 AAPL   126.440002
           GOOG   523.400024
           MSFT    44.400002
2015-07-06 AAPL   126.000000
           GOOG   522.859985
           MSFT    44.389999
2015-07-07 AAPL   125.690002
           GOOG   525.020020
           MSFT    44.299999
2015-07-08 AAPL   122.570000
           GOOG   516.830017
           MSFT    44.240002
2015-07-09 AAPL   120.070000
           GOOG   520.679993
           MSFT    44.520000
2015-07-10 AAPL   123.279999
           GOOG   530.130005
           MSFT    44.610001
2015-07-13 AAPL   125.660004
           GOOG   546.549988
           MSFT    45.540001
2015-07-14 AAPL   125.610001
           GOOG   561.099976
           MSFT    45.619999
2015-07-15 AAPL   126.820000
           GOOG   560.219971
           MSFT    45.759998
2015-07-16 AAPL   128.509995
           GOOG   579.849976
           MSFT    46.660000

[2273 rows x 6 columns]

In [63]:
stacked.to_panel()

<class 'pandas.core.panel.Panel'>
Dimensions: 6 (items) x 800 (major_axis) x 4 (minor_axis)
Items axis: Open to Adj Close
Major_axis axis: 2012-05-30 00:00:00 to 2015-07-16 00:00:00
Minor_axis axis: AAPL to MSFT

In [65]:
pdata.to_frame()

                        Open        High         Low       Close     Volume  \
Date       minor
2010-01-04 AAPL   213.429998  214.500023  212.380001  214.010025  123432400
           DELL    14.620000   14.700000   14.360000   14.540000   14488800
           MSFT    30.620001   31.100000   30.590000   30.950001   38409100
2010-01-05 AAPL   214.599985  215.589994  213.250034  214.379967  150476200
           DELL    14.770000   14.940000   14.590000   14.870000   20109800
           MSFT    30.850000   31.100000   30.639999   30.959999   49749600
2010-01-06 AAPL   214.379967  215.229986  210.749977  210.969995  138040000
           DELL    14.750000   14.880000   14.500000   14.580000   25146800
           MSFT    30.879999   31.080000   30.520000   30.770000   58182400
2010-01-07 AAPL   211.750000  211.999966  209.050032  210.580027  119282800
           DELL    14.570000   14.800000   14.530000   14.720000   19705900
           MSFT    30.629999   30.700001   30.190001   30.450001   50559700
2010-01-08 AAPL   210.300020  211.999966  209.059965  211.980019  111902700
           DELL    14.800000   14.920000   14.710000   14.850000   17641500
           MSFT    30.280001   30.879999   30.240000   30.660000   51197400
2010-01-11 AAPL   212.799997  212.999989  208.449991  210.109976  115557400
           DELL    14.860000   15.000000   14.700000   14.860000   18758400
           MSFT    30.709999   30.760000   30.120001   30.270000   68754700
2010-01-12 AAPL   209.190035  209.769981  206.419985  207.720028  148614900
           DELL    14.830000   15.200000   14.800000   15.060000   28240300
           MSFT    30.150000   30.400000   29.910000   30.070000   65912100
2010-01-13 AAPL   207.869965  210.930021  204.099985  210.650015  151473000
           DELL    15.110000   15.150000   14.810000   15.070000   19695900
           MSFT    30.260000   30.520000   30.010000   30.350000   51863500
2010-01-14 AAPL   210.109976  210.459970  209.020004  209.429987  108223500
           DELL    14.950000   15.160000   14.630000   14.700000   37817200
           MSFT    30.309999   31.100000   30.260000   30.959999   63228100
2010-01-15 AAPL   210.930021  211.599997  205.869999  205.929987  148516900
           DELL    14.870000   14.900000   14.310000   14.400000   30103700
           MSFT    31.080000   31.240000   30.709999   30.860001   79913200
...                      ...         ...         ...         ...        ...
2015-07-02 AAPL   126.430000  126.690002  125.769997  126.440002   27122500
           GOOG   521.080017  524.650024  521.080017  523.400024    1234000
           MSFT    44.480000   44.750000   44.060001   44.400002   21713000
2015-07-06 AAPL   124.940002  126.230003  124.849998  126.000000   27900200
           GOOG   519.500000  525.250000  519.000000  522.859985    1276500
           MSFT    43.959999   44.480000   43.950001   44.389999   22969700
2015-07-07 AAPL   125.889999  126.150002  123.769997  125.690002   46716100
           GOOG   523.130005  526.179993  515.179993  525.020020    1595700
           MSFT    44.340000   44.490002   43.320000   44.299999   36418200
2015-07-08 AAPL   124.480003  124.639999  122.540001  122.570000   60490200
           GOOG   521.049988  522.734009  516.109985  516.830017    1264600
           MSFT    44.439999   44.900002   44.029999   44.240002   39686300
2015-07-09 AAPL   123.849998  124.059998  119.220001  120.070000   77821600
           GOOG   523.119995  523.770020  520.349976  520.679993    1839400
           MSFT    44.750000   45.220001   44.500000   44.520000   32099800
2015-07-10 AAPL   121.940002  123.849998  121.209999  123.279999   61194200
           GOOG   526.289978  532.559998  525.549988  530.130005    1859900
           MSFT    45.009998   45.139999   44.570000   44.610001   25365300
2015-07-13 AAPL   125.029999  125.760002  124.320000  125.660004   37237800
           GOOG   532.880005  547.109985  532.400024  546.549988    2199800
           MSFT    44.980000   45.619999   44.950001   45.540001   24994700
2015-07-14 AAPL   126.040001  126.370003  125.040001  125.610001   31535500
           GOOG   546.760010  565.848999  546.710022  561.099976    3225100
           MSFT    45.450001   45.959999   45.310001   45.619999   22723700
2015-07-15 AAPL   125.720001  127.150002  125.580002  126.820000   33463100
           GOOG   560.130005  566.502991  556.789978  560.219971    1776600
           MSFT    45.680000   45.889999   45.430000   45.759998   26482000
2015-07-16 AAPL   127.739998  128.570007  127.349998  128.509995   35866800
           GOOG   565.119995  580.679993  565.000000  579.849976    4053900
           MSFT    46.009998   46.689999   45.970001   46.660000   25894400

                   Adj Close
Date       minor
2010-01-04 AAPL    28.718094
           DELL    14.065280
           MSFT    26.769336
2010-01-05 AAPL    28.767737
           DELL    14.384500
           MSFT    26.777984
2010-01-06 AAPL    28.310151
           DELL    14.103970
           MSFT    26.613650
2010-01-07 AAPL    28.257821
           DELL    14.239400
           MSFT    26.336875
2010-01-08 AAPL    28.445687
           DELL    14.365160
           MSFT    26.518508
2010-01-11 AAPL    28.194745
           DELL    14.374830
           MSFT    26.181189
2010-01-12 AAPL    27.874037
           DELL    14.568300
           MSFT    26.008204
2010-01-13 AAPL    28.267213
           DELL    14.577970
           MSFT    26.250383
2010-01-14 AAPL    28.103497
           DELL    14.220050
           MSFT    26.777984
2010-01-15 AAPL    27.633830
           DELL    13.929850
           MSFT    26.691493
...                      ...
2015-07-02 AAPL   126.440002
           GOOG   523.400024
           MSFT    44.400002
2015-07-06 AAPL   126.000000
           GOOG   522.859985
           MSFT    44.389999
2015-07-07 AAPL   125.690002
           GOOG   525.020020
           MSFT    44.299999
2015-07-08 AAPL   122.570000
           GOOG   516.830017
           MSFT    44.240002
2015-07-09 AAPL   120.070000
           GOOG   520.679993
           MSFT    44.520000
2015-07-10 AAPL   123.279999
           GOOG   530.130005
           MSFT    44.610001
2015-07-13 AAPL   125.660004
           GOOG   546.549988
           MSFT    45.540001
2015-07-14 AAPL   125.610001
           GOOG   561.099976
           MSFT    45.619999
2015-07-15 AAPL   126.820000
           GOOG   560.219971
           MSFT    45.759998
2015-07-16 AAPL   128.509995
           GOOG   579.849976
           MSFT    46.660000

[4098 rows x 6 columns]